/* Login.css */
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 30%;
    padding-top: 7%;
    width: 26.5vw;
  }
  
  .login-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .asterisk {
    position: absolute;
    top: 0.90em;
    right: -0.1em;
    color: #FF0000;
    visibility: hidden;
}
  .login-title {
    text-align: center;
    color: #333;
  }
  
  .input-field {
    width: 10%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    width: 20.5vw !important;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  